body {
  margin: 0px;
  padding: 0px;
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #111;
}

@media screen and (max-width:500px) {
  body {
    font-size: 15px;
  }
}

.wrap {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 0px 20px;
}

/* <Logo> */

.logo {
  margin-top: 6%;
}

.logo img {
  max-width: 160px;
}

/* </Logo> */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 10px 0px;
  line-height: 1.2;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

@media screen and (max-width:500px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.95em;
  }

  h6 {
    font-size: 0.9em;
  }
}

p {
  line-height: 1.8;
  font-size: 1em;
  margin: 0em;
  margin-bottom: 1.2em;
  color: #444;
}

header,
section,
footer {
  position: relative;
  width: 100%;
  z-index: 1;
  background: white;
}

section {
  min-height: 50vh;
  padding: 5em 0em;
}

/* <Colors> */

.bg-dark {
  background: #111;
  color: #fff;
}

.bg-light {
  background: #fafafa;
  color: #000;
}

.c-green {
  color: #00F080;
}

.c-lightgreen {
  color: lightgreen;
}

.c-blue {
  color: blue;
}

.c-lightblue {
  color: #6495ED;
}

.c-magenta {
  color: magenta;
}

.c-turquoise {
  color: turquoise;
}

.c-yellow {
  color: gold;
}

.c-salmon {
  color: 	#FA8072;
}

/* </Colors> */

em,
.link {
  padding-bottom: 0.05em;
  border-bottom: 0.1em solid;
  font-style: inherit;
  text-decoration: none;
}

[class*="button"] {
  font-family: 'Proxima Nova', Arial, sans-serif;
  display: inline-block;
  margin-right: 0.25em;
  margin-bottom: 0.6em;
  background: none;
  border: 0.15em solid;
  outline: none;
  text-decoration: none;
  padding: 0.2em 0.8em;
  border-radius: 0.3em;
  font-size: 0.9em;
  transition: 0.2s all;
  cursor: pointer;
}

.button-rounded {
  border-radius: 1em;
}

.button-square {
  border-radius: 0em;
}

input {
  font-family: 'Proxima Nova', Arial, sans-serif;
  background: none;
  border: 0.15em solid;
  outline: none;
  padding: 0.4em 0.5em;
  border-radius: 0.3em;
  font-size: 0.95em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit;
}
::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
}
:-ms-input-placeholder { /* IE 10+ */
  color: inherit;
}
:-moz-placeholder { /* Firefox 18- */
  color: inherit;
}

select {
  -webkit-appearance: none;
  font-family: 'Proxima Nova', Arial, sans-serif;
  background: none;
  border: 0.15em solid;
  outline: none;
  padding: 0.4em 0.5em;
  border-radius: 0.3em;
  font-size: 0.95em;
  cursor: pointer;
  height: auto;
}

/* <Intro-Header> */

.intro-header {
  margin: 0px;
}

.intro-header .wrap {
  height: 100vh;
  margin: auto;
}

.intro-header em,
.intro-header .link {
  color: lightgreen;
}

.intro-header [class*="button"] {
  font-size: 0.95em;
}

.intro-header .learn-more {
  margin-bottom: 6%;
}

/* </Intro-Header> */

/* <Positioning> */

.v-top {
  /**
   * Must be positioned inside a relatively
   * positioned element.
   */
  position: absolute;
  top: 0%;
}

.v-center {
  /**
   * Must be positioned inside a relatively
   * positioned element.
   */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.v-bottom {
  /**
   * Must be positioned inside a relatively
   * positioned element.
   */
  position: absolute;
  bottom: 0%;
}

.h-center {
  left: 0%;
  right: 0%;
  margin: auto;
}

/* </Positioning> */

/* <Split> */

.split {
  width: 100%;
  display: table;
}

.split-pane {
  display: table-cell;
  padding: 2em;
  vertical-align: top;
}

.split-pane:first-of-type {
  padding-left: 0em;
}

.split-pane:last-of-type {
  padding-right: 0em;
}

@media screen and (max-width:500px) {
  .split {
    display: block;
  }

  .split-pane {
    display: block;
    padding: 1em 0em;
  }
}

/* </Split> */

/* <Emphasise> */

.emph {
  padding: 0.4em;
  border: 0.1em solid;
}

.bg-text {
  font-style: italic;
  font-size: 1.4em;
  font-weight: 300;
  color: #a1a1a1;
}

.not {
  font-style: italic;
  text-decoration: line-through;
}

/* </Emphasise> */

/* <Get-Involved> */

.get-involved input {
  min-width: 75%;
}

.get-involved label {
  font-style: italic;
  display: block;
  margin-bottom: 1em;
  color: #a1a1a1;
  font-size: 0.85em;
  cursor: default;
}

.get-involved .cluster {
  margin: 2em 0em;
}

.get-involved .button {
  font-size: 0.92em;
  padding: 0.35em 1em;
}

.get-involved select {
  font-size: 0.92em;
}


.get-involved [data-interests] {
  display: none;
}

.get-involved [data-interest].active {
  background: #ddd;
}

/* </Get-Involved> */

/* <Page-Footer> */

.page-footer {
  padding: 6em 0em;
  bottom: 0px;
  z-index: 0;
}

.copyright {
  font-size: 0.8em;
  font-style: italic;
  color: #ccc;
}

/* </Page-Footer> */
